image: node:20

stages:
  - test

cache:
  paths:
    - node_modules/
    - frontend/node_modules/

before_script:
  - rm -rf backend/node_modules
  - npm ci
  - npm ci --prefix backend
  - npm ci --prefix frontend

test_all:
  stage: test
  script:
    - npm test